@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    color: #665F55;
}

body {
    background-color: #E1D4C9;
}

body:focus,
body:focus-visible,
body:active {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

